@model IEnumerable<SuperMartApp.Domain.Entities.SalesOrder>
@{ ViewData["Title"] = "Sales Orders"; }
<h2>Sales Orders</h2>
<table class="table table-sm table-striped">
  <thead><tr><th>Order#</th><th>Date</th><th>Subtotal</th><th>Tax</th><th>Total</th><th></th></tr></thead>
  <tbody>
  @foreach (var o in Model) {
    <tr>
      <td>@o.OrderNo</td><td>@o.CreatedAt.ToLocalTime()</td><td>@o.Subtotal</td><td>@o.Tax</td><td>@o.Total</td>
      <td class="text-end">
        <a class="btn btn-link btn-sm" href="@Url.Action("Details", new { id=o.Id })">Details</a>
        <a class="btn btn-link btn-sm" href="/Orders/Receipt/@o.Id" target="_blank">Receipt</a>
        <a class="btn btn-link btn-sm" href="/Returns/Create?salesOrderId=@o.Id">Return</a>
      </td>
    </tr>
  }
  </tbody>
</table>
